*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.4em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.color-acento{ color: rgb(19, 44, 173); }

body{  
    background-color: #bda1ff;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(30, 149, 182);
}

button:hover{
    background-color: rgb(24, 135, 166);
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(30,30,30);
    
}

header .logo{
    margin: 0;
    padding: 15px 30px;
    font-weight: bold;
    color: rgb(24, 194, 224);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    font-weight: bold;
    color: rgb(20, 62, 187);
}

header a:hover{
    color: rgb(255, 255, 255);
}

#Portada{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/Portada.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#Portada h1{
    color: rgb(222, 236, 249);
}

#QueSomos .container{
    text-align: center;
    padding:20px 12px;
}

#Productos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#Productos .container{
    padding: 50px 12px;
}

#Productos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#Productos p{
    display: none;
}

#Productos .info{
    background-position: center center;
    background-size: cover;
    padding: 30px 0px;
    margin: 20px;
    border-radius: 5px;
}

#Productos .info{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

#Productos .info{
    background-position: center center;
    background-size: cover;
    padding: 40px 0px;
    margin: 20px;
    border-radius: 15px;
}

.info:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(172, 7, 7, 0.66),
        rgba(54, 23, 191, 0.5)
    )
    ,url("img/ps.jpeg");

}

.info:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(172, 7, 7, 0.66),
        rgba(54, 23, 191, 0.5)
    )
    ,url("img/xbox.jpg");
}

.info:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(172, 7, 7, 0.66),
        rgba(54, 23, 191, 0.5)
    )
    ,url("img/ns.jpeg");

}

#caracteristicas .container{
    text-align: center;
    padding: 150px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 800px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #Portada h1{
        font-size: 5em;
    }

    #QueSomos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #QueSomos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #QueSomos h2{
        margin-top: 0px;
    }

    #QueSomos .img-container{
        background-image: url("img/jugador.jpeg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 900px; 
    }

    #Productos .programas{
        display: flex;
        justify-content: center;
    }

    #Productos p{
        display: block;
        margin-bottom: 30px;
    }

    #Productos h2{
        font-size: 4em;
    }

    #Productos h3{
        margin-top: 0;
    }

    #Productos .info{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .info:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/ps.jpeg");

    }

    .info:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/xbox.jpg");
    }

    .info:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/ns.jpeg");

    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {

    #caracteristicas{
        background-image: url("img/consolas.jpeg");
        background-repeat: no-repeat;
        background-size: 700px 400px;
        background-position: calc(100vw - 800px) 25px;
    }
    #caracteristicas li{ color: rgb(0, 0, 0);}

    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}

@media (min-width: 600px) {

    #QueSomos .container{
        text-align: center;
        padding: 100px 12px;
    }

    #QueSomos p{ font-size: 1.6em;}
    h2{ font-size: 3em;}
    li{ color: aliceblue;}

    #caracteristicas{
        background-image: url("img/consolas.jpeg");
        background-repeat: no-repeat;
    }

}

@media (min-width: 450px) {

    #QueSomos .container{
        text-align: center;
        padding: 100px 12px;
    }

    #QueSomos p{ font-size: 1.6em;}
    h2{ font-size: 3em;}
    
    li{ color: rgb(255, 255, 255);}

    #caracteristicas{
        background-image: url("img/consolas.jpeg");
        background-repeat: no-repeat;
    }

}